/* Write your CSS here */
.button {
    background-color: #ffffff;
    border: 0px;
    border-radius: 8px;
    height: 35px;
    width: 80px;
    cursor: pointer;
    margin-top: 10px;
    font-family: Roboto;
}